/* Reset / Base styles */
* {
  box-sizing: border-box;
}

/* Page defaults */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #0A0112;
  color: #FFFFFF;
  padding: 15px;
  height: 100%;
}

header {
  display: flex;
}

/* Headings */
h1, h2, h3 {
  font-weight: 800;
  color: #12FC00;
  margin: 0;
}

h4 {
  margin: 0;
}

/* Paragraphs */
p {
  margin-bottom: 15px;
  color: #FFFFF;
}

/* Links */
a {
  color: #FF2483;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  margin: 10px;
}

@media (max-width: 600px) {
  #header-title {
    flex-direction: column;
  }
  .cert-item {
    flex-direction: column;
    text-align: center;
  }
}


/*classes*/

.page-wrapper {
  max-width: 1200px;   /* controls content width */
  margin: 0 auto;      /* centers the page */
  text-align: left;    /* content stays left */
}

.header-title {
  display: flex;
  align-items: center;
  text-align: left
}

.title-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-links {
  margin-top: 8px; /* space below "Security Researcher" */
}

.social-links ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.social-links li {
  list-style: none;
}

.cert-item {
  display: flex;
  align-items: center; 
  gap: 20px;
  text-align: left;
}

.cert-item img {
  border: 1px solid #FF2483;
  flex-shrink: 0; 
}

.cert-item span {
  max-width: 800px;
  line-height: 1.4;
  text-align: left;
}


.cve-container {
  margin-left: 17px;
}

.cve-container a {
  color: #12FC00;
}

/* ids */

#menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  gap: 5rem;
  margin: 0, auto;
  padding-left: 0;
  list-style-type:none;
}


#menu li {
  list-style: none;
  margin: 0;
}

#iframe-container {
  width: 100%;
  height: 100vh; /* full viewport height */
}

#content-frame {
  width: 100%;
  height: 100%;
  border: none;
}

#cert-badge {
  display: flex;
  flex-direction: column;  
  gap: 20px;
  margin: o;
}

